/* Error: expected "{".
 *    ,
 * 71 | >>>>>>> 4841185fdbccf75d444d1574e9bd44296456ee6e
 *    |                                                 ^
 *    '
 *   client\assets\scss\main.scss 71:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 71 \2502  >>>>>>> 4841185fdbccf75d444d1574e9bd44296456ee6e\d\a    \2502                                                  ^\a    \2575 \a   client\\assets\\scss\\main.scss 71:49  root stylesheet';
}
